body{
  margin: 0px;
}
header{
position: sticky;
top: 0;
}
/* navigation bar*/
.navbar{
  background-color: #FFD700;
  align-content: center;
}

.navbar a{
  text-decoration: none;
  color: black;
  font-family: "Ubuntu", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px;
}

.navbar a:hover{
  background-color: #fde55e;
  transform: scale(1.2, 1.2);
}
.navContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.search {
  align-content: center;
}
.search-content{
height: 25px;
width: 10vw;
}
/* images */
.logo{
  width: 50px;
}

.container_products {
display: flex;
flex-wrap: wrap;
padding: 5px;
justify-content: space-around;
}
.product{
border: 1px solid #ddd;
border-radius: 4px;
width: 21vw;
}

#products img{
  width: 20vw;
}