*{
    padding-left: 20px;
    padding-right: 20px;

}

#title {
    text-align: center;
}

.container_navbar {
    position: fixed;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFD700;
}

.container_products {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;

}
#nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
}


#nav a {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
    text-decoration: none;
    font-size: 14px;
}

.search {
    align-content: center;
}
.main{
    padding: 20px;
}

#shopCart{
    width: 50;
}
